body {
  background-color: rgb(29, 27, 27) !important;
}

.list-header {
  color: white !important;
}

.code-views {
  width: 100%;
  min-height: 700px;
}
.syntax {
  min-height: 700px !important;
}

 .syntaxhighlighter {
  white-space: pre-wrap !important; 
}
