.App {
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 70px;

}

body {
  background-color: gray;
}
.check-online-btn {
  width: 150px;
  height: 32px;
  border-radius: 16px;
  background-color: green;
  color: white;
  outline: none;
  border-style: none;
  margin: 0 auto;
}

input {
  margin-bottom: 30px;
  height: 30px;
  border-radius: 15px;
  outline: none;
  border-style: none;
  padding-left: 30px;
}